@model Produto

<div class="mb-3">
    <label asp-for="DscProduto"></label>
    <input asp-for="DscProduto" class="form-control" />
</div>

<div class="mb-3">
    <label asp-for="VlrUnitario"></label>
    <input asp-for="VlrUnitario" class="form-control"/>
</div>